@import 'tailwindcss';

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
    --color-babyPowder: #fefefa;
    --color-cadetGray: #879a94;
    --color-darkGreen: #17302b;
    --color-floralWhite: #fcf7ee;
    --color-pineGreen: #2c7361;
    --color-carmine: #9f2323;

    --color-jet: #2e2f2f;
    --color-blackOlive: #3b3a35;
    --color-feldgrau: #5a6664;
    --color-brunswickGreen: #1b3e35;
    --color-errieBlack: #0d1c17;
}

html {
    color-scheme: light dark;
}

body {
    @apply bg-babyPowder text-blackOlive dark:bg-jet dark:text-gray-200;
}

